:root {
  --text: #07051e;
  --primary: #432cf8;
  --secondary: #b4abfc;
  --blue-link: #1021da;
  --yellow: #fbd18f;
  --darkgrey: #888888;
  --lightgrey: #f8fafc;
  --main-type: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  background-color: var(--lightgrey);
  filter: blur(2);
}

h1,
h2,
h3,
h4,
p,
table,
form,
button {
  padding: 0;
  margin: 0;
  text-shadow: 0 0 0px rgba(0, 0, 0, 0);
  color: var(--blue-link);
}

a,
a:link,
a:hover,
a:focus {
  color: var(--yellow);
}

main {
  width: 75%;
  margin: 3rem 3rem;
  transition: 1s;
  font-family: var(--main-type);
  color: transparent;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.cv-entry {
  text-align: justify;
  max-width: 800px;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

ul {
  margin: 0;
  padding: 0rem;
}

li {
  list-style-type: "→ ";
  margin-left: 1rem;
}

h1 {
  margin: 1rem 0;
}

h2 {
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.2rem;
  font-weight: normal;
}
